<a href="https://colab.research.google.com/github/4ST4ROTH/Assignment/blob/main/DSA_Assignment_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given an integer `n`, return *`true` if it is a power of two. Otherwise, return `false`*.

An integer `n` is a power of two, if there exists an integer `x` such that `n == 2x`.

In [1]:
def is_power_of_two(n):
    if n <= 0:
        return False
    elif n == 1:
        return True
    elif n % 2 != 0:
        return False
    else:
        return is_power_of_two(n // 2)

In [2]:
number = 16
result = is_power_of_two(number)
print(result)

True

Given a number n, find the sum of the first natural numbers.

In [3]:
def sum_of_natural_numbers(n):
    if n == 1:
        return 1
    else:
        return n + sum_of_natural_numbers(n - 1)

In [4]:
n = 5
result = sum_of_natural_numbers(n)
print(result)

15

Given a positive integer, N. Find the factorial of N.

In [5]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

In [6]:
N = 5
result = factorial(N)
print(result)

120

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

In [7]:
def power(N, P):
    if P == 0:
        return 1
    else:
        return N * power(N, P - 1)

In [8]:
N = 2
P = 5
result = power(N, P)
print(result)

32

Given an array of integers arr, the task is to find maximum element of that array using recursion.

In [9]:
def find_max(arr):
    if len(arr) == 1:
        return arr[0]
    else:
        return max(arr[0], find_max(arr[1:]))

In [10]:
arr = [10, 7, 15, 3, 6]
result = find_max(arr)
print(result)

15

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

In [11]:
def find_nth_term(a, d, N):
    nth_term = a + (N - 1) * d
    return nth_term

In [12]:
a = 2
d = 3
N = 5
result = find_nth_term(a, d, N)
print(result)

14

Given a string S, the task is to write a program to print all permutations of a given string.

In [13]:
def permute(S, start, current_permutation):
    if start == len(S):
        print(current_permutation)
        return

    for i in range(start, len(S)):
        # Swap characters at indices start and i
        S = list(S)
        S[start], S[i] = S[i], S[start]
        S = ''.join(S)

        permute(S, start + 1, current_permutation + S[start])

        # Restore original order by swapping back
        S = list(S)
        S[start], S[i] = S[i], S[start]
        S = ''.join(S)

# Function to print all permutations of a string
def print_permutations(S):
    permute(S, 0, "")

S = "ABC"
print_permutations(S)

ABC
ACB
BAC
BCA
CBA
CAB

Given an array, find a product of all array elements.

In [14]:
def array_product(arr, n):
    if n == 0:
        return arr[0]
    else:
        return arr[n] * array_product(arr, n - 1)

def product_of_array(arr):
    if len(arr) == 0:
        return None
    else:
        return array_product(arr, len(arr) - 1)

In [15]:
arr = [2, 3, 4, 5]
result = product_of_array(arr)
print(result)

120