# PYTHON

ANSWER 1

In [1]:
def find_highest_freq_word_len(string):
    keep_track = {} 
    words = string.split()
    for word in words:
        keep_track[word] = keep_track.get(word,0)+1 
    max_freq = max(keep_track.values())
    
    max_freq_word = [word for word , freq in keep_track.items() if freq == max_freq]
    
    print (f"From the given string we can note that the most frequent words are {max_freq_word}  and its corresponding length is {len(max_freq_word[0])}")

In [2]:
string = "write write write all the number from from from 1 to 100"
find_highest_freq_word_len(string)

From the given string we can note that the most frequent words are ['write', 'from']  and its corresponding length is 5

ANSWER 2

In [3]:
def is_valid(string):
    keep = {}
    for letter in string:
        keep[letter] = keep.get(letter,0)+1
        
    keep_freq = {}
    for count in keep.values():
        keep_freq[count] = keep.get(count,0)+1
        
    if len(keep_freq) == 1:
        return "Yes"
    else:
        return "No"

In [4]:
is_valid("aaabbbcc")

'No'

ANSWER 3

In [5]:
import pandas as pd
import urllib.request, json

In [6]:
with urllib.request.urlopen('https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json') as url:
    data = json.load(url)
pokemon_data = []
for pokemon in data['pokemon']:    # converting the data into structured format
    processed_pokedata = {
        "id": pokemon["id"],
        "num": pokemon["num"],
        "name": pokemon["name"],
        "img": pokemon["img"],
        "type": pokemon["type"],
        "height": pokemon["height"],
        "weight": pokemon["weight"],
        "candy": pokemon.get("candy", ""),
        "candy_count": pokemon.get("candy_count", 0),
        "egg": pokemon.get("egg", ""),
        "spawn_chance": pokemon.get("spawn_chance", 0.0),
        "avg_spawns": pokemon.get("avg_spawns", 0),
        "spawn_time": pokemon.get("spawn_time", ""),
        "multipliers":pokemon.get("multipliers",[]),
        "weakness": pokemon.get("weaknesses", []),
        "next_evolution": [evolution["name"] for evolution in pokemon.get("next_evolution", [])],
        "prev_evolution": [evolution["name"] for evolution in pokemon.get("prev_evolution", [])]
    }
    pokemon_data.append(processed_pokedata)

poke_df = pd.DataFrame(pokemon_data) #converting processed data into pandas dataframe

poke_df.to_excel("pokemon_data.xlsx", index=False) # Exporting the dataframe to an excel file

ANSWER 4

In [7]:
import csv

In [8]:
with urllib.request.urlopen("https://data.nasa.gov/resource/y77d-th95.json") as url:
    data_meteorite = json.load(url)

    columns = [
        "id",
    "name",
    "nametype",
    "recclass",
    "mass",
    "fall",
    "year",
    "reclat",
    "reclong",
    "geolocation",
    ":@computed_region_cbhk_fwbd",
    ":@computed_region_nnqa_25f4"
    ]

# Create a CSV file and write the data
with open("meteorite_data.csv", "w", newline="", encoding="utf-8") as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=columns)

    # Write the header row
    writer.writeheader()

    # Write each meteorite data as a row in the CSV file
    for meteorite in data_meteorite:
        writer.writerow(meteorite)

ANSWER 5

In [9]:
import requests

url = "http://api.tvmaze.com/singlesearch/shows?q=westworld&embed=episodes"
response = requests.get(url)
data_shows = response.json()

# Extract the desired data attributes
show_id = data_shows["id"]
show_url = data_shows["url"]
show_name = data_shows["name"]

episodes = data_shows["_embedded"]["episodes"]
extracted_data = []
for episode in episodes:
    season = episode["season"]
    number = episode["number"]
    episode_type = episode["type"]
    airdate = episode["airdate"]
    airtime = episode["airtime"]
    runtime = episode["runtime"]
    average_rating = episode["rating"]["average"]
    summary = episode["summary"].strip("<p>").strip("</p>")
    medium_image = episode["image"]["medium"]
    original_image = episode["image"]["original"]

    extracted_data.append({
        "id": show_id,
        "url": show_url,
        "name": show_name,
        "season": season,
        "number": number,
        "type": episode_type,
        "airdate": airdate,
        "airtime": airtime,
        "runtime": runtime,
        "average_rating": average_rating,
        "summary": summary,
        "medium_image": medium_image,
        "original_image": original_image
    })

# Print the extracted data
for episode_data in extracted_data:
    for key, value in episode_data.items():
        print(f"{key}: {value}")
    print()

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 1
number: 1
type: regular
airdate: 2016-10-02
airtime: 21:00
runtime: 68
average_rating: 8
summary: A woman named Dolores is a free spirit in the Old West... and unaware that she's actually an android, programmed to entertain rich guests seeking to act out their fantasies in an idealized vision of the 1880s. However, the people in charge soon realize that their androids are acting in ways that they didn't anticipate.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/78/195475.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/78/195475.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 1
number: 2
type: regular
airdate: 2016-10-09
airtime: 21:00
runtime: 60
average_rating: 7.7
summary: Bernard suspects that someone is sabotaging the hosts. Meanwhile, the Man continues his search for the deeper game, and Maeve finds herself in a world of hurt... literally.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/78/195436.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/78/195436.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 1
number: 3
type: regular
airdate: 2016-10-16
airtime: 21:00
runtime: 60
average_rating: 7.6
summary: Bernard continues to investigate Dolores' supposed malfunction, and realizes that he has something unexpected on his hands. Meanwhile, Robert talks about the early days of the park, and Teddy receives a new role and narrative.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/79/198183.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/79/198183.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 1
number: 4
type: regular
airdate: 2016-10-23
airtime: 21:00
runtime: 60
average_rating: 7.9
summary: While Dolores joins William and Logan on their adventure, the Man in Black continues his search for the entrance to the Maze and meets Armistice. Meanwhile, Robert reveals some of his true power to Theresa and advises her to stay out of his way.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/80/201367.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/80/201367.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 1
number: 5
type: regular
airdate: 2016-10-30
airtime: 21:00
runtime: 60
average_rating: 8
summary: Dolores takes the first step on her path of discovery by deciding to write a new story for herself... where she isn't the damsel. Meanwhile, Elise discovers the Woodcutter's secret, and Robert pays the Man a visit.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/81/204265.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/81/204265.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 1
number: 6
type: regular
airdate: 2016-11-06
airtime: 21:00
runtime: 60
average_rating: 8
summary: While Maeve convinces Felix to show her "upstairs," Teddy and the Man close in on the maze. Meanwhile, Bernard and Elsie close in on the identity of the person who is stealing secrets from the park, while Lee meets with a Delos executive director.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/82/207324.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/82/207324.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 1
number: 7
type: regular
airdate: 2016-11-13
airtime: 21:00
runtime: 60
average_rating: 8.6
summary: While William and Dolores travel to the unclaimed territories, Charlotte and Theresa make plans to force Robert out of the park using Clementine. Meanwhile, Maeve continues her plans to escape Westworld.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/83/209400.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/83/209400.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 1
number: 8
type: regular
airdate: 2016-11-20
airtime: 21:00
runtime: 60
average_rating: 7.9
summary: Bernard tries to cope with what he did under Robert's orders. Meanwhile, William and Dolores find a town, and Maeve remembers more of her past. Meanwhile, the Man reveals his past to Teddy.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/84/211554.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/84/211554.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 1
number: 9
type: regular
airdate: 2016-11-27
airtime: 21:00
runtime: 60
average_rating: 8.5
summary: Bernard forces Robert to take him back into his own memories, while the Man meets with Charlotte. Meanwhile, Dolores escapes the Confederado camp and William gives Logan new orders.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/85/213932.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/85/213932.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 1
number: 10
type: regular
airdate: 2016-12-04
airtime: 21:00
runtime: 90
average_rating: 8.7
summary: Delores finds out the truth about William's fate. Meanwhile, Maeve organizes an escape plan, only to discover that someone else is pulling the strings. And Robert plays the final piece in his grand narrative.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/86/216453.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/86/216453.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 2
number: 1
type: regular
airdate: 2018-04-22
airtime: 21:00
runtime: 74
average_rating: 7.8
summary: In the aftermath of the host rebellion, the rescue team finds Bernard and the new Head of Operations asks for his help. Meanwhile, Delores promises to show Teddy the truth, and Maeve convinces Lee and Hector to help her find her daughter.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/152/381118.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/152/381118.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 2
number: 2
type: regular
airdate: 2018-04-29
airtime: 21:00
runtime: 60
average_rating: 7.7
summary: Dolores looks for allies sympathetic to her cause and shows Teddy the truth of his existence. In the past, Dolores gets her first taste of the outside world and William shows her a weapon of mass destruction.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/153/382957.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/153/382957.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 2
number: 3
type: regular
airdate: 2018-05-06
airtime: 21:00
runtime: 60
average_rating: 7.7
summary: While Delores makes a deal with the Confederados, Maeve and her group find Felix and Sylvester. Meanwhile, a new Guest comes to Westworld, and Bernard has a meeting of minds with Peter.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/154/386069.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/154/386069.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 2
number: 4
type: regular
airdate: 2018-05-13
airtime: 21:00
runtime: 71
average_rating: 8
summary: William pays his recuperating father-in-law several visits. Meanwhile, the Man continues to play Robert's game, and Bernard remembers some of his missing time.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/155/387630.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/155/387630.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 2
number: 5
type: regular
airdate: 2018-05-20
airtime: 21:00
runtime: 60
average_rating: 7.6
summary: While Maeve and her people explore Shogun World, Delores realizes that the Teddy she knows can't be a part of the new world coming.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/155/389365.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/155/389365.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 2
number: 6
type: regular
airdate: 2018-05-27
airtime: 21:00
runtime: 60
average_rating: 7.7
summary: Maeve finds her daughter, Delores finds the "real" Teddy, Grace finds her father, and Charlotte and Stubbs find Peter.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/156/390990.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/156/390990.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 2
number: 7
type: regular
airdate: 2018-06-03
airtime: 21:00
runtime: 60
average_rating: 7.9
summary: Charlotte and Bernard review Bernard's memories to discover what happened to the missing control unit. Meanwhile, Robert has a chat with Bernard, and Maeve confronts her former tormentor.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/156/392143.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/156/392143.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 2
number: 8
type: regular
airdate: 2018-06-10
airtime: 21:00
runtime: 60
average_rating: 8.7
summary: Another of Westworld's Host revolutionaries is revealed. Meanwhile, Emily finds the Man and convinces the Ghost Nation to hand him over to her to ensure his suffering.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/157/393811.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/157/393811.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 2
number: 9
type: regular
airdate: 2018-06-17
airtime: 21:00
runtime: 60
average_rating: 8.4
summary: The Man learns that his grip on reality isn't what he thought, as he considers how his wife died. Meanwhile, Dolores continues her trek across the park to the Valley Beyond, and Bernard receives another visit from Robert.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/158/395754.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/158/395754.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 2
number: 10
type: regular
airdate: 2018-06-24
airtime: 21:00
runtime: 90
average_rating: 8.5
summary: The Man faces a personal reckoning, while Akecheta and the others find the door. Meanwhile, Bernard meets with Robert one last time after choosing how to deal with Dolores.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/158/397018.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/158/397018.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 3
number: 1
type: regular
airdate: 2020-03-15
airtime: 21:00
runtime: 70
average_rating: 8
summary: If you're stuck in a loop, try walking in a straight line.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/246/615760.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/246/615760.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 3
number: 2
type: regular
airdate: 2020-03-22
airtime: 21:00
runtime: 60
average_rating: 7.8
summary: People put up a lot of walls. Bring a sledgehammer to your life.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/247/619379.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/247/619379.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 3
number: 3
type: regular
airdate: 2020-03-29
airtime: 21:00
runtime: 60
average_rating: 7.8
summary: If you don't like what you see in the mirror, don't blame the mirror.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/247/619381.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/247/619381.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 3
number: 4
type: regular
airdate: 2020-04-05
airtime: 21:00
runtime: 70
average_rating: 8
summary: The truth doesn't always set you free.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/249/623071.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/249/623071.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 3
number: 5
type: regular
airdate: 2020-04-12
airtime: 21:00
runtime: 60
average_rating: 7.9
summary: Just say no.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/251/629355.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/251/629355.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 3
number: 6
type: regular
airdate: 2020-04-19
airtime: 21:00
runtime: 60
average_rating: 7.5
summary: Do a lot of people tell you that you need therapy?
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/252/632212.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/252/632212.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 3
number: 7
type: regular
airdate: 2020-04-26
airtime: 21:00
runtime: 60
average_rating: 7.5
summary: A real friend is one who walks in when the rest of the world walks out. Caleb gets an insight on the true nature of his past; Dolores seeks out Rehoboam's predecessor, while Maeve tracks her down; Bernard, Stubbs, and William escape from all the chaos.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/254/635599.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/254/635599.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 3
number: 8
type: regular
airdate: 2020-05-03
airtime: 21:00
runtime: 75
average_rating: 7.7
summary: Time to face the music. Dolores' true intentions are revealed; Bernard confronts a ghost from his past; Maeve is conflicted; Serac's voice is dominant; Caleb's role is revealed; and William faces an unexpected villain. <br />
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/254/635189.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/254/635189.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 4
number: 1
type: regular
airdate: 2022-06-26
airtime: 21:00
runtime: 55
average_rating: 7.1
summary: Hello again. Don't worry about a thing. It's all in your head.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/414/1035413.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/414/1035413.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 4
number: 2
type: regular
airdate: 2022-07-03
airtime: 21:00
runtime: 55
average_rating: 7.4
summary: I heard a fly buzz when I died.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/414/1036909.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/414/1036909.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 4
number: 3
type: regular
airdate: 2022-07-10
airtime: 21:00
runtime: 55
average_rating: 7.6
summary: You can never go back again. But if you do, bring a shovel.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/415/1038520.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/415/1038520.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 4
number: 4
type: regular
airdate: 2022-07-17
airtime: 21:00
runtime: 51
average_rating: 7.7
summary: Should auld acquaintance be forgot and days of auld lang syne?
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/415/1039531.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/415/1039531.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 4
number: 5
type: regular
airdate: 2022-07-24
airtime: 21:00
runtime: 60
average_rating: 7.8
summary: God is bored.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/416/1042460.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/416/1042460.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 4
number: 6
type: regular
airdate: 2022-07-31
airtime: 21:00
runtime: 60
average_rating: 7.5
summary: To thine own selves be true.
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/417/1044302.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/417/1044302.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 4
number: 7
type: regular
airdate: 2022-08-07
airtime: 21:00
runtime: 60
average_rating: 7.7
summary: You want to have a drink at a time like this?
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/418/1045645.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/418/1045645.jpg

id: 1371
url: https://www.tvmaze.com/shows/1371/westworld
name: Westworld
season: 4
number: 8
type: regular
airdate: 2022-08-14
airtime: 21:00
runtime: 60
average_rating: 7.5
summary: Like what I've done with the place? (I just cranked it to expert level.)
medium_image: https://static.tvmaze.com/uploads/images/medium_landscape/418/1046925.jpg
original_image: https://static.tvmaze.com/uploads/images/original_untouched/418/1046925.jpg

ANSWER 6

In [10]:
import matplotlib.pyplot as plt

## Load the processed data from the Excel file
poke_data = pd.read_excel("pokemon_data.xlsx")

In [11]:
poke_data

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weakness,next_evolution,prev_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"['Grass', 'Poison']",0.71 m,6.9 kg,Bulbasaur Candy,25,2 km,0.6900,69.00,20:00,[1.58],"['Fire', 'Ice', 'Flying', 'Psychic']","['Ivysaur', 'Venusaur']",[]
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"['Grass', 'Poison']",0.99 m,13.0 kg,Bulbasaur Candy,100,Not in Eggs,0.0420,4.20,07:00,"[1.2, 1.6]","['Fire', 'Ice', 'Flying', 'Psychic']",['Venusaur'],['Bulbasaur']
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"['Grass', 'Poison']",2.01 m,100.0 kg,Bulbasaur Candy,0,Not in Eggs,0.0170,1.70,11:30,NaN,"['Fire', 'Ice', 'Flying', 'Psychic']",[],"['Bulbasaur', 'Ivysaur']"
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,['Fire'],0.61 m,8.5 kg,Charmander Candy,25,2 km,0.2530,25.30,08:45,[1.65],"['Water', 'Ground', 'Rock']","['Charmeleon', 'Charizard']",[]
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,['Fire'],1.09 m,19.0 kg,Charmander Candy,100,Not in Eggs,0.0120,1.20,19:00,[1.79],"['Water', 'Ground', 'Rock']",['Charizard'],['Charmander']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,147,Dratini,http://www.serebii.net/pokemongo/pokemon/147.png,['Dragon'],1.80 m,3.3 kg,Dratini Candy,25,10 km,0.3000,30.00,06:41,"[1.83, 1.84]","['Ice', 'Dragon', 'Fairy']","['Dragonair', 'Dragonite']",[]
147,148,148,Dragonair,http://www.serebii.net/pokemongo/pokemon/148.png,['Dragon'],3.99 m,16.5 kg,Dratini Candy,100,Not in Eggs,0.0200,2.00,11:57,[2.05],"['Ice', 'Dragon', 'Fairy']",['Dragonite'],['Dratini']
148,149,149,Dragonite,http://www.serebii.net/pokemongo/pokemon/149.png,"['Dragon', 'Flying']",2.21 m,210.0 kg,Dratini Candy,0,Not in Eggs,0.0011,0.11,23:38,NaN,"['Ice', 'Rock', 'Dragon', 'Fairy']",[],"['Dratini', 'Dragonair']"
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,['Psychic'],2.01 m,122.0 kg,None,0,Not in Eggs,0.0000,0.00,NaN,NaN,"['Bug', 'Ghost', 'Dark']",[],[]
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,['Psychic'],0.41 m,4.0 kg,None,0,Not in Eggs,0.0000,0.00,NaN,NaN,"['Bug', 'Ghost', 'Dark']",[],[]

In [12]:
# Get all Pokemons whose spawn rate is less than 5%
spawn_rate_less_than_5 = pd.DataFrame(poke_data[poke_data['spawn_chance']<5]['name'])
spawn_rate_less_than_5

           name
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
146     Dratini
147   Dragonair
148   Dragonite
149      Mewtwo
150         Mew

[147 rows x 1 columns]

In [13]:
#Get all Pokemons that have less than 4 weaknesses
lessthan4_weakness = poke_data[poke_data['weakness'].str.count(',')<3]
lessthan4_weakness

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weakness,next_evolution,prev_evolution
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,['Fire'],0.61 m,8.5 kg,Charmander Candy,25,2 km,0.2530,25.30,08:45,[1.65],"['Water', 'Ground', 'Rock']","['Charmeleon', 'Charizard']",[]
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,['Fire'],1.09 m,19.0 kg,Charmander Candy,100,Not in Eggs,0.0120,1.20,19:00,[1.79],"['Water', 'Ground', 'Rock']",['Charizard'],['Charmander']
5,6,6,Charizard,http://www.serebii.net/pokemongo/pokemon/006.png,"['Fire', 'Flying']",1.70 m,90.5 kg,Charmander Candy,0,Not in Eggs,0.0031,0.31,13:34,NaN,"['Water', 'Electric', 'Rock']",[],"['Charmander', 'Charmeleon']"
6,7,7,Squirtle,http://www.serebii.net/pokemongo/pokemon/007.png,['Water'],0.51 m,9.0 kg,Squirtle Candy,25,2 km,0.5800,58.00,04:25,[2.1],"['Electric', 'Grass']","['Wartortle', 'Blastoise']",[]
7,8,8,Wartortle,http://www.serebii.net/pokemongo/pokemon/008.png,['Water'],0.99 m,22.5 kg,Squirtle Candy,100,Not in Eggs,0.0340,3.40,07:02,[1.4],"['Electric', 'Grass']",['Blastoise'],['Squirtle']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,146,146,Moltres,http://www.serebii.net/pokemongo/pokemon/146.png,"['Fire', 'Flying']",2.01 m,60.0 kg,None,0,Not in Eggs,0.0000,0.00,NaN,NaN,"['Water', 'Electric', 'Rock']",[],[]
146,147,147,Dratini,http://www.serebii.net/pokemongo/pokemon/147.png,['Dragon'],1.80 m,3.3 kg,Dratini Candy,25,10 km,0.3000,30.00,06:41,"[1.83, 1.84]","['Ice', 'Dragon', 'Fairy']","['Dragonair', 'Dragonite']",[]
147,148,148,Dragonair,http://www.serebii.net/pokemongo/pokemon/148.png,['Dragon'],3.99 m,16.5 kg,Dratini Candy,100,Not in Eggs,0.0200,2.00,11:57,[2.05],"['Ice', 'Dragon', 'Fairy']",['Dragonite'],['Dratini']
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,['Psychic'],2.01 m,122.0 kg,None,0,Not in Eggs,0.0000,0.00,NaN,NaN,"['Bug', 'Ghost', 'Dark']",[],[]
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,['Psychic'],0.41 m,4.0 kg,None,0,Not in Eggs,0.0000,0.00,NaN,NaN,"['Bug', 'Ghost', 'Dark']",[],[]

In [14]:
#Get all Pokemons that have no multipliers at all
no_multipliers = poke_data[poke_data['multipliers'].isnull()]
no_multipliers

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weakness,next_evolution,prev_evolution
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"['Grass', 'Poison']",2.01 m,100.0 kg,Bulbasaur Candy,0,Not in Eggs,0.0170,1.70,11:30,NaN,"['Fire', 'Ice', 'Flying', 'Psychic']",[],"['Bulbasaur', 'Ivysaur']"
5,6,6,Charizard,http://www.serebii.net/pokemongo/pokemon/006.png,"['Fire', 'Flying']",1.70 m,90.5 kg,Charmander Candy,0,Not in Eggs,0.0031,0.31,13:34,NaN,"['Water', 'Electric', 'Rock']",[],"['Charmander', 'Charmeleon']"
8,9,9,Blastoise,http://www.serebii.net/pokemongo/pokemon/009.png,['Water'],1.60 m,85.5 kg,Squirtle Candy,0,Not in Eggs,0.0067,0.67,00:06,NaN,"['Electric', 'Grass']",[],"['Squirtle', 'Wartortle']"
11,12,12,Butterfree,http://www.serebii.net/pokemongo/pokemon/012.png,"['Bug', 'Flying']",1.09 m,32.0 kg,Caterpie Candy,0,Not in Eggs,0.0220,2.20,05:23,NaN,"['Fire', 'Electric', 'Ice', 'Flying', 'Rock']",[],"['Caterpie', 'Metapod']"
14,15,15,Beedrill,http://www.serebii.net/pokemongo/pokemon/015.png,"['Bug', 'Poison']",0.99 m,29.5 kg,Weedle Candy,0,Not in Eggs,0.0510,5.10,04:50,NaN,"['Fire', 'Flying', 'Psychic', 'Rock']",[],"['Weedle', 'Kakuna']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,145,145,Zapdos,http://www.serebii.net/pokemongo/pokemon/145.png,"['Electric', 'Flying']",1.60 m,52.6 kg,None,0,Not in Eggs,0.0000,0.00,NaN,NaN,"['Ice', 'Rock']",[],[]
145,146,146,Moltres,http://www.serebii.net/pokemongo/pokemon/146.png,"['Fire', 'Flying']",2.01 m,60.0 kg,None,0,Not in Eggs,0.0000,0.00,NaN,NaN,"['Water', 'Electric', 'Rock']",[],[]
148,149,149,Dragonite,http://www.serebii.net/pokemongo/pokemon/149.png,"['Dragon', 'Flying']",2.21 m,210.0 kg,Dratini Candy,0,Not in Eggs,0.0011,0.11,23:38,NaN,"['Ice', 'Rock', 'Dragon', 'Fairy']",[],"['Dratini', 'Dragonair']"
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,['Psychic'],2.01 m,122.0 kg,None,0,Not in Eggs,0.0000,0.00,NaN,NaN,"['Bug', 'Ghost', 'Dark']",[],[]
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,['Psychic'],0.41 m,4.0 kg,None,0,Not in Eggs,0.0000,0.00,NaN,NaN,"['Bug', 'Ghost', 'Dark']",[],[]

In [15]:
#Get all Pokemons that do not have more than 2 evolutions

#converting the string to list
def string_to_list(string):
    # Remove the surrounding square brackets and single quotes
    string = string.strip("[]").replace("'", "")
    
    # Split the remaining string by commas
    result_list = string.split(", ")
    
    return result_list

evo1 = [] #empty list to append each processed list 
for i in poke_data['next_evolution']:
    evo1.append(string_to_list(i))
poke_data['next_evolution_'] = evo1

#repeating the same with previous_evolution column
evo2=[]
for i in poke_data['prev_evolution']:
    evo2.append(string_to_list(i))
poke_data['prev_evolution_'] = evo2

In [16]:
#so now that we have processed both the columns now we need to combine both into one column that is total+evolutions than we can filter out the pokemons that has mpore than 2 evolutions
poke_data['total_evolution'] = poke_data['next_evolution_']+poke_data['prev_evolution_']
poke_data

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weakness,next_evolution,prev_evolution,next_evolution_,prev_evolution_,total_evolution
0,1,1,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"['Grass', 'Poison']",0.71 m,6.9 kg,Bulbasaur Candy,25,2 km,0.6900,69.00,20:00,[1.58],"['Fire', 'Ice', 'Flying', 'Psychic']","['Ivysaur', 'Venusaur']",[],"[Ivysaur, Venusaur]",[],"[Ivysaur, Venusaur, ]"
1,2,2,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"['Grass', 'Poison']",0.99 m,13.0 kg,Bulbasaur Candy,100,Not in Eggs,0.0420,4.20,07:00,"[1.2, 1.6]","['Fire', 'Ice', 'Flying', 'Psychic']",['Venusaur'],['Bulbasaur'],[Venusaur],[Bulbasaur],"[Venusaur, Bulbasaur]"
2,3,3,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"['Grass', 'Poison']",2.01 m,100.0 kg,Bulbasaur Candy,0,Not in Eggs,0.0170,1.70,11:30,NaN,"['Fire', 'Ice', 'Flying', 'Psychic']",[],"['Bulbasaur', 'Ivysaur']",[],"[Bulbasaur, Ivysaur]","[, Bulbasaur, Ivysaur]"
3,4,4,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,['Fire'],0.61 m,8.5 kg,Charmander Candy,25,2 km,0.2530,25.30,08:45,[1.65],"['Water', 'Ground', 'Rock']","['Charmeleon', 'Charizard']",[],"[Charmeleon, Charizard]",[],"[Charmeleon, Charizard, ]"
4,5,5,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,['Fire'],1.09 m,19.0 kg,Charmander Candy,100,Not in Eggs,0.0120,1.20,19:00,[1.79],"['Water', 'Ground', 'Rock']",['Charizard'],['Charmander'],[Charizard],[Charmander],"[Charizard, Charmander]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,147,Dratini,http://www.serebii.net/pokemongo/pokemon/147.png,['Dragon'],1.80 m,3.3 kg,Dratini Candy,25,10 km,0.3000,30.00,06:41,"[1.83, 1.84]","['Ice', 'Dragon', 'Fairy']","['Dragonair', 'Dragonite']",[],"[Dragonair, Dragonite]",[],"[Dragonair, Dragonite, ]"
147,148,148,Dragonair,http://www.serebii.net/pokemongo/pokemon/148.png,['Dragon'],3.99 m,16.5 kg,Dratini Candy,100,Not in Eggs,0.0200,2.00,11:57,[2.05],"['Ice', 'Dragon', 'Fairy']",['Dragonite'],['Dratini'],[Dragonite],[Dratini],"[Dragonite, Dratini]"
148,149,149,Dragonite,http://www.serebii.net/pokemongo/pokemon/149.png,"['Dragon', 'Flying']",2.21 m,210.0 kg,Dratini Candy,0,Not in Eggs,0.0011,0.11,23:38,NaN,"['Ice', 'Rock', 'Dragon', 'Fairy']",[],"['Dratini', 'Dragonair']",[],"[Dratini, Dragonair]","[, Dratini, Dragonair]"
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,['Psychic'],2.01 m,122.0 kg,None,0,Not in Eggs,0.0000,0.00,NaN,NaN,"['Bug', 'Ghost', 'Dark']",[],[],[],[],"[, ]"
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,['Psychic'],0.41 m,4.0 kg,None,0,Not in Eggs,0.0000,0.00,NaN,NaN,"['Bug', 'Ghost', 'Dark']",[],[],[],[],"[, ]"

In [17]:
#now we have a simgle colum  with total no. of evolutions.
no_more_than_2_evolutions = poke_data[poke_data['total_evolution'].str.count(',')<2]

In [18]:
no_more_than_2_evolutions

Empty DataFrame
Columns: [id, num, name, img, type, height, weight, candy, candy_count, egg, spawn_chance, avg_spawns, spawn_time, multipliers, weakness, next_evolution, prev_evolution, next_evolution_, prev_evolution_, total_evolution]
Index: []

ANSWER 7

In [34]:
df_meteorite = pd.DataFrame(data_meteorite)

In [36]:
def fun_year(a):
    date = pd.to_datetime(a)
    year = date.year
    return year

In [37]:
year_list = []
for i in df_meteorite['year']:
    year = fun_year(i)
    year_list.append(year)
    
df_meteorite['year_'] = year_list

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1583-01-01 00:00:00

In [38]:
year_list = []
for i in df_meteorite['year']:
    year = fun_year(i)
    year_list.append(year)

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1583-01-01 00:00:00

In [26]:
a = pd.DataFrame(data_meteorite)['year'][0]

In [28]:
date = pd.to_datetime(a)

In [30]:
year = date.year

In [32]:
type(year)

int

In [67]:
b = []
for i in df_meteorite['year']:
    a=fun_year(i)
    b.append(a)

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1583-01-01 00:00:00

In [46]:
d = pd.DataFrame(data_meteorite)

In [52]:
b

[1880,
 1951,
 1952,
 1976,
 1902,
 1919,
 1949,
 1814,
 1930,
 1920,
 1974,
 1925,
 1769,
 1949,
 1838,
 1959,
 1981,
 1957,
 2001,
 1806,
 1766,
 1949,
 2002,
 1835,
 1873,
 1860,
 1900,
 1883,
 1899,
 1969,
 2008,
 1977,
 1895,
 1880,
 1898,
 1969,
 1939,
 nan,
 1822,
 1869,
 1942,
 1971,
 1984,
 1914,
 1803,
 1954,
 1932,
 1950,
 1805,
 2009,
 1923,
 1886,
 1920,
 1896,
 1933,
 1945,
 1836,
 1865,
 1842,
 1858,
 1952,
 1908,
 1855,
 1968,
 1938,
 1814,
 1934,
 1929,
 1922,
 1907,
 1993,
 1871,
 1892,
 1913,
 1933,
 1790,
 1704,
 1842,
 1904,
 1886,
 1910,
 1965,
 2006,
 1994,
 1892,
 1902,
 2012,
 1989,
 1916,
 1929,
 1893,
 1949,
 1961,
 1937,
 1798,
 2004,
 2001,
 1938,
 1943,
 2002,
 1949,
 2008,
 1924,
 1811,
 2004,
 1859,
 1859,
 1921,
 1877,
 2002,
 1893,
 1940,
 1905,
 1827,
 1887,
 1999,
 1984,
 1923,
 1843,
 1895,
 1796,
 1899,
 1941,
 1906,
 1909,
 1833,
 1938,
 1977,
 1804,
 1962,
 1916,
 1808,
 1894,
 1930,
 1852,
 1812,
 1823,
 2003,
 2011,
 1969,
 1886,
 1847,
 1956,
 1855,
 1933,
 1960,
 2001,
 1964,
 2007,
 1942,
 1919,
 1990,
 1946,
 1863,
 1852,
 1861,
 2008,
 1870,
 1886,
 1919,
 2007,
 1916,
 1991,
 1964,
 1861,
 1866,
 1973,
 1846,
 1934,
 2007,
 1902,
 1874,
 1791,
 1848]

In [59]:
d['year'].head(1001)

0      1880-01-01T00:00:00.000
1      1951-01-01T00:00:00.000
2      1952-01-01T00:00:00.000
3      1976-01-01T00:00:00.000
4      1902-01-01T00:00:00.000
                ...
995    1934-01-01T00:00:00.000
996    2011-01-01T00:00:00.000
997    1869-01-01T00:00:00.000
998    1922-01-01T00:00:00.000
999    1905-01-01T00:00:00.000
Name: year, Length: 1000, dtype: object

In [64]:
pd.set_option('display.max_rows',None)

In [66]:
d['year']

0      1880-01-01T00:00:00.000
1      1951-01-01T00:00:00.000
2      1952-01-01T00:00:00.000
3      1976-01-01T00:00:00.000
4      1902-01-01T00:00:00.000
5      1919-01-01T00:00:00.000
6      1949-01-01T00:00:00.000
7      1814-01-01T00:00:00.000
8      1930-01-01T00:00:00.000
9      1920-01-01T00:00:00.000
10     1974-01-01T00:00:00.000
11     1925-01-01T00:00:00.000
12     1769-01-01T00:00:00.000
13     1949-01-01T00:00:00.000
14     1838-01-01T00:00:00.000
15     1959-01-01T00:00:00.000
16     1981-01-01T00:00:00.000
17     1957-01-01T00:00:00.000
18     2001-01-01T00:00:00.000
19     1806-01-01T00:00:00.000
20     1766-01-01T00:00:00.000
21     1949-01-01T00:00:00.000
22     2002-01-01T00:00:00.000
23     1835-01-01T00:00:00.000
24     1873-01-01T00:00:00.000
25     1860-01-01T00:00:00.000
26     1900-01-01T00:00:00.000
27     1883-01-01T00:00:00.000
28     1899-01-01T00:00:00.000
29     1969-01-01T00:00:00.000
30     2008-01-01T00:00:00.000
31     1977-01-01T00:00:00.000
32     1895-01-01T00:00:00.000
33     1880-01-01T00:00:00.000
34     1898-01-01T00:00:00.000
35     1969-01-01T00:00:00.000
36     1939-01-01T00:00:00.000
37                         NaN
38     1822-01-01T00:00:00.000
39     1869-01-01T00:00:00.000
40     1942-01-01T00:00:00.000
41     1971-01-01T00:00:00.000
42     1984-01-01T00:00:00.000
43     1914-01-01T00:00:00.000
44     1803-01-01T00:00:00.000
45     1954-01-01T00:00:00.000
46     1932-01-01T00:00:00.000
47     1950-01-01T00:00:00.000
48     1805-01-01T00:00:00.000
49     2009-01-01T00:00:00.000
50     1923-01-01T00:00:00.000
51     1886-01-01T00:00:00.000
52     1920-01-01T00:00:00.000
53     1896-01-01T00:00:00.000
54     1933-01-01T00:00:00.000
55     1945-01-01T00:00:00.000
56     1836-01-01T00:00:00.000
57     1865-01-01T00:00:00.000
58     1842-01-01T00:00:00.000
59     1858-01-01T00:00:00.000
60     1952-01-01T00:00:00.000
61     1908-01-01T00:00:00.000
62     1855-01-01T00:00:00.000
63     1968-01-01T00:00:00.000
64     1938-01-01T00:00:00.000
65     1814-01-01T00:00:00.000
66     1934-01-01T00:00:00.000
67     1929-01-01T00:00:00.000
68     1922-01-01T00:00:00.000
69     1907-01-01T00:00:00.000
70     1993-01-01T00:00:00.000
71     1871-01-01T00:00:00.000
72     1892-01-01T00:00:00.000
73     1913-01-01T00:00:00.000
74     1933-01-01T00:00:00.000
75     1790-01-01T00:00:00.000
76     1704-01-01T00:00:00.000
77     1842-01-01T00:00:00.000
78     1904-01-01T00:00:00.000
79     1886-01-01T00:00:00.000
80     1910-01-01T00:00:00.000
81     1965-01-01T00:00:00.000
82     2006-01-01T00:00:00.000
83     1994-01-01T00:00:00.000
84     1892-01-01T00:00:00.000
85     1902-01-01T00:00:00.000
86     2012-01-01T00:00:00.000
87     1989-01-01T00:00:00.000
88     1916-01-01T00:00:00.000
89     1929-01-01T00:00:00.000
90     1893-01-01T00:00:00.000
91     1949-01-01T00:00:00.000
92     1961-01-01T00:00:00.000
93     1937-01-01T00:00:00.000
94     1798-01-01T00:00:00.000
95     2004-01-01T00:00:00.000
96     2001-01-01T00:00:00.000
97     1938-01-01T00:00:00.000
98     1943-01-01T00:00:00.000
99     2002-01-01T00:00:00.000
100    1949-01-01T00:00:00.000
101    2008-01-01T00:00:00.000
102    1924-01-01T00:00:00.000
103    1811-01-01T00:00:00.000
104    2004-01-01T00:00:00.000
105    1859-01-01T00:00:00.000
106    1859-01-01T00:00:00.000
107    1921-01-01T00:00:00.000
108    1877-01-01T00:00:00.000
109    2002-01-01T00:00:00.000
110    1893-01-01T00:00:00.000
111    1940-01-01T00:00:00.000
112    1905-01-01T00:00:00.000
113    1827-01-01T00:00:00.000
114    1887-01-01T00:00:00.000
115    1999-01-01T00:00:00.000
116    1984-01-01T00:00:00.000
117    1923-01-01T00:00:00.000
118    1843-01-01T00:00:00.000
119    1895-01-01T00:00:00.000
120    1796-01-01T00:00:00.000
121    1899-01-01T00:00:00.000
122    1941-01-01T00:00:00.000
123    1906-01-01T00:00:00.000
124    1909-01-01T00:00:00.000
125    1833-01-01T00:00:00.000
126    1938-01-01T00:00:00.000
127    1977-01-01T00:00:00.000
128    1804-01-01T00:00:00.000
129    1962-01-01T00:00:00.000
130    1916-01-01T00:00:00.000
131    1808-01-01T00:00:00.000
132    1894-01-01T00:00:00.000
133    1930-01-01T00:00:00.000
134    1852-01-01T00:00:00.000
135    1812-01-01T00:00:00.000
136    1823-01-01T00:00:00.000
137    2003-01-01T00:00:00.000
138    2011-01-01T00:00:00.000
139    1969-01-01T00:00:00.000
140    1886-01-01T00:00:00.000
141    1847-01-01T00:00:00.000
142    1956-01-01T00:00:00.000
143    1855-01-01T00:00:00.000
144    1933-01-01T00:00:00.000
145    1960-01-01T00:00:00.000
146    2001-01-01T00:00:00.000
147    1964-01-01T00:00:00.000
148    2007-01-01T00:00:00.000
149    1942-01-01T00:00:00.000
150    1919-01-01T00:00:00.000
151    1990-01-01T00:00:00.000
152    1946-01-01T00:00:00.000
153    1863-01-01T00:00:00.000
154    1852-01-01T00:00:00.000
155    1861-01-01T00:00:00.000
156    2008-01-01T00:00:00.000
157    1870-01-01T00:00:00.000
158    1886-01-01T00:00:00.000
159    1919-01-01T00:00:00.000
160    2007-01-01T00:00:00.000
161    1916-01-01T00:00:00.000
162    1991-01-01T00:00:00.000
163    1964-01-01T00:00:00.000
164    1861-01-01T00:00:00.000
165    1866-01-01T00:00:00.000
166    1973-01-01T00:00:00.000
167    1846-01-01T00:00:00.000
168    1934-01-01T00:00:00.000
169    2007-01-01T00:00:00.000
170    1902-01-01T00:00:00.000
171    1874-01-01T00:00:00.000
172    1791-01-01T00:00:00.000
173    1848-01-01T00:00:00.000
174    1583-01-01T00:00:00.000
175    1810-01-01T00:00:00.000
176    1988-01-01T00:00:00.000
177    1956-01-01T00:00:00.000
178    1840-01-01T00:00:00.000
179    1998-01-01T00:00:00.000
180    1814-01-01T00:00:00.000
181    1907-01-01T00:00:00.000
182    1933-01-01T00:00:00.000
183    1838-01-01T00:00:00.000
184    1885-01-01T00:00:00.000
185    1977-01-01T00:00:00.000
186    1812-01-01T00:00:00.000
187    1835-01-01T00:00:00.000
188    1810-01-01T00:00:00.000
189    1834-01-01T00:00:00.000
190    1815-01-01T00:00:00.000
191    1841-01-01T00:00:00.000
192    1925-01-01T00:00:00.000
193    1988-01-01T00:00:00.000
194    2013-01-01T00:00:00.000
195    2007-01-01T00:00:00.000
196    1964-01-01T00:00:00.000
197    1933-01-01T00:00:00.000
198    1901-01-01T00:00:00.000
199    1939-01-01T00:00:00.000
200    1880-01-01T00:00:00.000
201    1981-01-01T00:00:00.000
202    1938-01-01T00:00:00.000
203    1988-01-01T00:00:00.000
204    1966-01-01T00:00:00.000
205    1978-01-01T00:00:00.000
206    1979-01-01T00:00:00.000
207    1984-01-01T00:00:00.000
208    1822-01-01T00:00:00.000
209    1917-01-01T00:00:00.000
210    1838-01-01T00:00:00.000
211    1994-01-01T00:00:00.000
212    1890-01-01T00:00:00.000
213    1965-01-01T00:00:00.000
214    1844-01-01T00:00:00.000
215    1917-01-01T00:00:00.000
216    1936-01-01T00:00:00.000
217    1877-01-01T00:00:00.000
218    1892-01-01T00:00:00.000
219    1902-01-01T00:00:00.000
220    1919-01-01T00:00:00.000
221    1877-01-01T00:00:00.000
222    1981-01-01T00:00:00.000
223    1878-01-01T00:00:00.000
224    1868-01-01T00:00:00.000
225    1868-01-01T00:00:00.000
226    1804-01-01T00:00:00.000
227    1998-01-01T00:00:00.000
228    2008-01-01T00:00:00.000
229    1887-01-01T00:00:00.000
230    1829-01-01T00:00:00.000
231    1897-01-01T00:00:00.000
232    1911-01-01T00:00:00.000
233    1967-01-01T00:00:00.000
234    2001-01-01T00:00:00.000
235    1962-01-01T00:00:00.000
236    2001-01-01T00:00:00.000
237    1994-01-01T00:00:00.000
238    1976-01-01T00:00:00.000
239    1848-01-01T00:00:00.000
240    1860-01-01T00:00:00.000
241    2007-01-01T00:00:00.000
242    1906-01-01T00:00:00.000
243    1957-01-01T00:00:00.000
244    1884-01-01T00:00:00.000
245    1961-01-01T00:00:00.000
246    1999-01-01T00:00:00.000
247    1903-01-01T00:00:00.000
248    1864-01-01T00:00:00.000
249    1907-01-01T00:00:00.000
250    1995-01-01T00:00:00.000
251    1899-01-01T00:00:00.000
252    1970-01-01T00:00:00.000
253    1805-01-01T00:00:00.000
254    1962-01-01T00:00:00.000
255    1932-01-01T00:00:00.000
256    1976-01-01T00:00:00.000
257    1827-01-01T00:00:00.000
258    1939-01-01T00:00:00.000
259    1951-01-01T00:00:00.000
260    1999-01-01T00:00:00.000
261    1865-01-01T00:00:00.000
262    1976-01-01T00:00:00.000
263    1815-01-01T00:00:00.000
264    1853-01-01T00:00:00.000
265    1943-01-01T00:00:00.000
266    1970-01-01T00:00:00.000
267    1872-01-01T00:00:00.000
268    1933-01-01T00:00:00.000
269    1947-01-01T00:00:00.000
270    1961-01-01T00:00:00.000
271    1785-01-01T00:00:00.000
272    1939-01-01T00:00:00.000
273    1916-01-01T00:00:00.000
274    1989-01-01T00:00:00.000
275    1977-01-01T00:00:00.000
276    1993-01-01T00:00:00.000
277    1998-01-01T00:00:00.000
278    1400-01-01T00:00:00.000
279    1951-01-01T00:00:00.000
280    1925-01-01T00:00:00.000
281    1900-01-01T00:00:00.000
282    1974-01-01T00:00:00.000
283    1492-01-01T00:00:00.000
284    1822-01-01T00:00:00.000
285    1940-01-01T00:00:00.000
286    1911-01-01T00:00:00.000
287    1889-01-01T00:00:00.000
288    1812-01-01T00:00:00.000
289    1837-01-01T00:00:00.000
290    1957-01-01T00:00:00.000
291    1879-01-01T00:00:00.000
292    1890-01-01T00:00:00.000
293    1934-01-01T00:00:00.000
294    1844-01-01T00:00:00.000
295    1934-01-01T00:00:00.000
296    1875-01-01T00:00:00.000
297    1900-01-01T00:00:00.000
298    1924-01-01T00:00:00.000
299    1889-01-01T00:00:00.000
300    1996-01-01T00:00:00.000
301    1894-01-01T00:00:00.000
302    1922-01-01T00:00:00.000
303    1890-01-01T00:00:00.000
304    1942-01-01T00:00:00.000
305    1924-01-01T00:00:00.000
306    1900-01-01T00:00:00.000
307    1829-01-01T00:00:00.000
308    1944-01-01T00:00:00.000
309    1868-01-01T00:00:00.000
310    1945-01-01T00:00:00.000
311    1882-01-01T00:00:00.000
312    1654-01-01T00:00:00.000
313    1822-01-01T00:00:00.000
314    1977-01-01T00:00:00.000
315    1826-01-01T00:00:00.000
316    1952-01-01T00:00:00.000
317    1952-01-01T00:00:00.000
318    1995-01-01T00:00:00.000
319    1897-01-01T00:00:00.000
320    1960-01-01T00:00:00.000
321    1917-01-01T00:00:00.000
322    1950-01-01T00:00:00.000
323    1984-01-01T00:00:00.000
324    2000-01-01T00:00:00.000
325    1950-01-01T00:00:00.000
326    1909-01-01T00:00:00.000
327    1853-01-01T00:00:00.000
328    1947-01-01T00:00:00.000
329    1990-01-01T00:00:00.000
330    1939-01-01T00:00:00.000
331    1918-01-01T00:00:00.000
332    1991-01-01T00:00:00.000
333    1879-01-01T00:00:00.000
334    1865-01-01T00:00:00.000
335    1974-01-01T00:00:00.000
336    1964-01-01T00:00:00.000
337    1976-01-01T00:00:00.000
338    2009-01-01T00:00:00.000
339    1861-01-01T00:00:00.000
340    1837-01-01T00:00:00.000
341    1881-01-01T00:00:00.000
342    1841-01-01T00:00:00.000
343    1910-01-01T00:00:00.000
344    1932-01-01T00:00:00.000
345    1996-01-01T00:00:00.000
346    1983-01-01T00:00:00.000
347    1980-01-01T00:00:00.000
348    1892-01-01T00:00:00.000
349    1891-01-01T00:00:00.000
350    1972-01-01T00:00:00.000
351    1949-01-01T00:00:00.000
352    1982-01-01T00:00:00.000
353    1984-01-01T00:00:00.000
354    1904-01-01T00:00:00.000
355    1814-01-01T00:00:00.000
356    1981-01-01T00:00:00.000
357    1851-01-01T00:00:00.000
358    1930-01-01T00:00:00.000
359    1817-01-01T00:00:00.000
360    1934-01-01T00:00:00.000
361    1944-01-01T00:00:00.000
362    1959-01-01T00:00:00.000
363    1878-01-01T00:00:00.000
364    1921-01-01T00:00:00.000
365    1961-01-01T00:00:00.000
366    1859-01-01T00:00:00.000
367    1910-01-01T00:00:00.000
368    1890-01-01T00:00:00.000
369    1628-01-01T00:00:00.000
370    1971-01-01T00:00:00.000
371    1922-01-01T00:00:00.000
372    1910-01-01T00:00:00.000
373    1857-01-01T00:00:00.000
374    1869-01-01T00:00:00.000
375    1897-01-01T00:00:00.000
376    1804-01-01T00:00:00.000
377    2003-01-01T00:00:00.000
378    2003-01-01T00:00:00.000
379    1954-01-01T00:00:00.000
380    1912-01-01T00:00:00.000
381    1923-01-01T00:00:00.000
382    1875-01-01T00:00:00.000
383    1825-01-01T00:00:00.000
384    1956-01-01T00:00:00.000
385    1963-01-01T00:00:00.000
386    1751-01-01T00:00:00.000
387    2010-01-01T00:00:00.000
388    1877-01-01T00:00:00.000
389    1901-01-01T00:00:00.000
390    1870-01-01T00:00:00.000
391    1957-01-01T00:00:00.000
392    1949-01-01T00:00:00.000
393    1936-01-01T00:00:00.000
394    1956-01-01T00:00:00.000
395    1977-01-01T00:00:00.000
396    1975-01-01T00:00:00.000
397    1891-01-01T00:00:00.000
398    1917-01-01T00:00:00.000
399    1963-01-01T00:00:00.000
400    1977-01-01T00:00:00.000
401    1972-01-01T00:00:00.000
402    1954-01-01T00:00:00.000
403    1928-01-01T00:00:00.000
404    1879-01-01T00:00:00.000
405    1990-01-01T00:00:00.000
406    1938-01-01T00:00:00.000
407    1903-01-01T00:00:00.000
408    1926-01-01T00:00:00.000
409    1990-01-01T00:00:00.000
410    1621-01-01T00:00:00.000
411    1866-01-01T00:00:00.000
412    1979-01-01T00:00:00.000
413    1889-01-01T00:00:00.000
414    1901-01-01T00:00:00.000
415    2009-01-01T00:00:00.000
416    1873-01-01T00:00:00.000
417    1964-01-01T00:00:00.000
418    1890-01-01T00:00:00.000
419    1976-01-01T00:00:00.000
420    2006-01-01T00:00:00.000
421    1877-01-01T00:00:00.000
422    1924-01-01T00:00:00.000
423    1974-01-01T00:00:00.000
424    1819-01-01T00:00:00.000
425    1997-01-01T00:00:00.000
426    1876-01-01T00:00:00.000
427    1984-01-01T00:00:00.000
428    1976-01-01T00:00:00.000
429    1968-01-01T00:00:00.000
430    1821-01-01T00:00:00.000
431    1857-01-01T00:00:00.000
432    1971-01-01T00:00:00.000
433    1822-01-01T00:00:00.000
434    1838-01-01T00:00:00.000
435    1908-01-01T00:00:00.000
436    1980-01-01T00:00:00.000
437    1937-01-01T00:00:00.000
438    1890-01-01T00:00:00.000
439    1858-01-01T00:00:00.000
440    1951-01-01T00:00:00.000
441    1879-01-01T00:00:00.000
442    1942-01-01T00:00:00.000
443    1913-01-01T00:00:00.000
444    1902-01-01T00:00:00.000
445    1959-01-01T00:00:00.000
446    1908-01-01T00:00:00.000
447    1897-01-01T00:00:00.000
448    1942-01-01T00:00:00.000
449    2004-01-01T00:00:00.000
450    1937-01-01T00:00:00.000
451    1840-01-01T00:00:00.000
452    1963-01-01T00:00:00.000
453    1949-01-01T00:00:00.000
454    1905-01-01T00:00:00.000
455    1955-01-01T00:00:00.000
456    1930-01-01T00:00:00.000
457    1938-01-01T00:00:00.000
458    2003-01-01T00:00:00.000
459    1999-01-01T00:00:00.000
460    2006-01-01T00:00:00.000
461    1961-01-01T00:00:00.000
462    1940-01-01T00:00:00.000
463    2008-01-01T00:00:00.000
464    1939-01-01T00:00:00.000
465    2003-01-01T00:00:00.000
466    1874-01-01T00:00:00.000
467    1869-01-01T00:00:00.000
468    1850-01-01T00:00:00.000
469    1873-01-01T00:00:00.000
470    1932-01-01T00:00:00.000
471    1787-01-01T00:00:00.000
472    1860-01-01T00:00:00.000
473    1867-01-01T00:00:00.000
474    1929-01-01T00:00:00.000
475    1910-01-01T00:00:00.000
476    1932-01-01T00:00:00.000
477    1983-01-01T00:00:00.000
478    1962-01-01T00:00:00.000
479    1970-01-01T00:00:00.000
480    1906-01-01T00:00:00.000
481    1809-01-01T00:00:00.000
482    2002-01-01T00:00:00.000
483    1911-01-01T00:00:00.000
484    1844-01-01T00:00:00.000
485    1967-01-01T00:00:00.000
486    1906-01-01T00:00:00.000
487    1914-01-01T00:00:00.000
488    1998-01-01T00:00:00.000
489    1843-01-01T00:00:00.000
490    1866-01-01T00:00:00.000
491    1999-01-01T00:00:00.000
492    1986-01-01T00:00:00.000
493    1926-01-01T00:00:00.000
494    1931-01-01T00:00:00.000
495    2010-01-01T00:00:00.000
496    1869-01-01T00:00:00.000
497    1829-01-01T00:00:00.000
498    1946-01-01T00:00:00.000
499    1906-01-01T00:00:00.000
500    1946-01-01T00:00:00.000
501    1938-01-01T00:00:00.000
502    1961-01-01T00:00:00.000
503    1811-01-01T00:00:00.000
504    1906-01-01T00:00:00.000
505    1949-01-01T00:00:00.000
506    1998-01-01T00:00:00.000
507    1920-01-01T00:00:00.000
508    1860-01-01T00:00:00.000
509    1977-01-01T00:00:00.000
510    1914-01-01T00:00:00.000
511    1932-01-01T00:00:00.000
512    1886-01-01T00:00:00.000
513    1879-01-01T00:00:00.000
514    1878-01-01T00:00:00.000
515    1924-01-01T00:00:00.000
516    1985-01-01T00:00:00.000
517    1871-01-01T00:00:00.000
518    1955-01-01T00:00:00.000
519    1803-01-01T00:00:00.000
520    2003-01-01T00:00:00.000
521    1910-01-01T00:00:00.000
522    1887-01-01T00:00:00.000
523    1872-01-01T00:00:00.000
524    1897-01-01T00:00:00.000
525    1947-01-01T00:00:00.000
526    1986-01-01T00:00:00.000
527    1925-01-01T00:00:00.000
528    1987-01-01T00:00:00.000
529    1830-01-01T00:00:00.000
530    1938-01-01T00:00:00.000
531    1845-01-01T00:00:00.000
532    1845-01-01T00:00:00.000
533    1943-01-01T00:00:00.000
534    1912-01-01T00:00:00.000
535    1999-01-01T00:00:00.000
536    1907-01-01T00:00:00.000
537    1900-01-01T00:00:00.000
538    1857-01-01T00:00:00.000
539    1896-01-01T00:00:00.000
540    1973-01-01T00:00:00.000
541    1930-01-01T00:00:00.000
542    1813-01-01T00:00:00.000
543    1854-01-01T00:00:00.000
544    1978-01-01T00:00:00.000
545    1808-01-01T00:00:00.000
546    1839-01-01T00:00:00.000
547    1820-01-01T00:00:00.000
548    1868-01-01T00:00:00.000
549    1994-01-01T00:00:00.000
550    2010-01-01T00:00:00.000
551    1894-01-01T00:00:00.000
552    1970-01-01T00:00:00.000
553    1977-01-01T00:00:00.000
554    1935-01-01T00:00:00.000
555    1926-01-01T00:00:00.000
556    1768-01-01T00:00:00.000
557    1869-01-01T00:00:00.000
558    1980-01-01T00:00:00.000
559    1889-01-01T00:00:00.000
560    1813-01-01T00:00:00.000
561    1753-01-01T00:00:00.000
562    1951-01-01T00:00:00.000
563    1937-01-01T00:00:00.000
564    1836-01-01T00:00:00.000
565    1981-01-01T00:00:00.000
566    1936-01-01T00:00:00.000
567    1950-01-01T00:00:00.000
568    1935-01-01T00:00:00.000
569    1896-01-01T00:00:00.000
570    1941-01-01T00:00:00.000
571    1899-01-01T00:00:00.000
572    1990-01-01T00:00:00.000
573    2007-01-01T00:00:00.000
574    2004-01-01T00:00:00.000
575    1933-01-01T00:00:00.000
576    1970-01-01T00:00:00.000
577    1930-01-01T00:00:00.000
578    1931-01-01T00:00:00.000
579    1933-01-01T00:00:00.000
580    1927-01-01T00:00:00.000
581    1863-01-01T00:00:00.000
582    1843-01-01T00:00:00.000
583    1934-01-01T00:00:00.000
584    1951-01-01T00:00:00.000
585    1948-01-01T00:00:00.000
586    1925-01-01T00:00:00.000
587    1898-01-01T00:00:00.000
588    2009-01-01T00:00:00.000
589    1941-01-01T00:00:00.000
590    1971-01-01T00:00:00.000
591    1847-01-01T00:00:00.000
592    1902-01-01T00:00:00.000
593    1848-01-01T00:00:00.000
594    2002-01-01T00:00:00.000
595    1983-01-01T00:00:00.000
596    1836-01-01T00:00:00.000
597    2010-01-01T00:00:00.000
598    1803-01-01T00:00:00.000
599    1768-01-01T00:00:00.000
600    1801-01-01T00:00:00.000
601    1974-01-01T00:00:00.000
602    1885-01-01T00:00:00.000
603    1942-01-01T00:00:00.000
604    1992-01-01T00:00:00.000
605    1953-01-01T00:00:00.000
606    1861-01-01T00:00:00.000
607    1915-01-01T00:00:00.000
608    1862-01-01T00:00:00.000
609    1903-01-01T00:00:00.000
610    1878-01-01T00:00:00.000
611    1945-01-01T00:00:00.000
612    1920-01-01T00:00:00.000
613    1955-01-01T00:00:00.000
614    1897-01-01T00:00:00.000
615    1949-01-01T00:00:00.000
616    1852-01-01T00:00:00.000
617    1827-01-01T00:00:00.000
618    1980-01-01T00:00:00.000
619    1881-01-01T00:00:00.000
620    2010-01-01T00:00:00.000
621    1889-01-01T00:00:00.000
622    1992-01-01T00:00:00.000
623    1944-01-01T00:00:00.000
624    1842-01-01T00:00:00.000
625    1960-01-01T00:00:00.000
626    1930-01-01T00:00:00.000
627    1632-01-01T00:00:00.000
628    1826-01-01T00:00:00.000
629    1952-01-01T00:00:00.000
630    1905-01-01T00:00:00.000
631    1910-01-01T00:00:00.000
632    1890-01-01T00:00:00.000
633    1898-01-01T00:00:00.000
634    1882-01-01T00:00:00.000
635    1905-01-01T00:00:00.000
636    1908-01-01T00:00:00.000
637    1858-01-01T00:00:00.000
638    1953-01-01T00:00:00.000
639    1998-01-01T00:00:00.000
640    1849-01-01T00:00:00.000
641    1950-01-01T00:00:00.000
642    1846-01-01T00:00:00.000
643    1923-01-01T00:00:00.000
644    1838-01-01T00:00:00.000